<!-- login.component.html -->
<div
  class="min-h-screen flex items-center justify-center bg-gray-50 py-12 px-4 sm:px-6 lg:px-8"
>
  <div class="relative py-3 sm:max-w-xl sm:mx-auto">
    <div
      class="absolute inset-0 bg-gradient-to-r from-indigo-400 to-indigo-600 shadow-lg transform -skew-y-6 sm:skew-y-0 sm:-rotate-6 sm:rounded-3xl"
    ></div>
    <div class="relative px-4 py-10 bg-white shadow-lg sm:rounded-3xl sm:p-20">
      <div class="max-w-md w-full space-y-8">
        <div>
          <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">
            Connexion
          </h2>
        </div>
        <form
          class="mt-8 space-y-6"
          [formGroup]="loginForm"
          (ngSubmit)="onSubmit()"
        >
          <input type="hidden" name="remember" value="true" />
          <div class="rounded-md shadow-sm space-y-2">
            <div>
              <label for="email-address" class="sr-only">Adresse e-mail</label>
              <input
                id="email-address"
                formControlName="email"
                type="email"
                autocomplete="email"
                required
                class="appearance-none rounded relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
                placeholder="Adresse e-mail"
                [class]="{
                  'border-red-500':
                    loginForm.controls['email'].invalid &&
                    loginForm.controls['email'].touched
                }"
              />

              <p
                class="text-red-500 text-xs italic"
                *ngIf="
                  loginForm.controls['email'].invalid &&
                  loginForm.controls['email'].touched
                "
              >
                Saisissez une adresse e-mail valide.
              </p>
            </div>
            <div>
              <label for="password" class="sr-only">Mot de passe</label>
              <input
                id="password"
                formControlName="password"
                type="password"
                autocomplete="current-password"
                required
                class="appearance-none rounded relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
                placeholder="Mot de passe"
                [class]="{
                  'border-red-500':
                    loginForm.controls['password'].invalid &&
                    loginForm.controls['password'].touched
                }"
              />

              <p
                class="text-red-500 text-xs italic"
                *ngIf="
                  loginForm.controls['password'].invalid &&
                  loginForm.controls['password'].touched
                "
              >
                Saisissez un mot de passe valide.
              </p>
            </div>
          </div>

          <div>
            <button
              type="submit"
              class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
              [disabled]="!loginForm.valid"
            >
              Se connecter
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
